/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers*/ 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------ css reset above------ */

/*
==============================
Custom styles
==============================
*/
*,
*:before,
*:after {
   box-sizing: border-box;
}

 body {
   font: 300 18px/26px "lato", "helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #807045;
   margin: 20px; 
 }

 /*
==============================
Header
==============================
*/

.logo {
  border: 1px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  letter-spacing: .5px;
  max-width: 920px;
  margin: 0 auto;
  padding: 22px;
  text-align: center;
  
}

.logo h1 {
  border-top: 10px solid #FFE08A;
  border-bottom: 10px solid #FFE08A;
  font-size: 48px;
  font-weight: 200;
  line-height: 48px;
  margin-bottom: 12px;
  padding: 22px;
  text-align: center;
  text-shadow: 1px 1px #FFE08A;
  text-transform: uppercase;
}
/*
==============================
form
==============================
*/
.form-outer {
  background-color: #FFE08A;
  background: linear-gradient( #FEE8AC, #FFE08A);
  border: 1px solid #ffffff;
  border-radius: 6px;
  color: #807045;
  margin: 16px auto;
  max-width: 920px;
  padding: 22px;
}

fieldset {
  margin-top: 20px;
}

.label {
  margin-bottom: 2px;
}

.selection {
  margin-left: 20px;
}

 /*
 ==============================
 user info
 ==============================
 */

.user-info {
  border: 1px solid #807045;
  border-radius: 6px;
  padding: 8px 12px 12px 12px;
}

.user-info legend {
  padding-left: 6px;
  padding-right: 6px;
}

.user-info label {
  font-weight: 400;
  margin-left: 6px;
  margin-right: 4px;
}

#number {
  width: 118px;
}

.radio {
  display: inline-block;
  font-weight: 400;
  margin-right: 44px;
}

.user-info input,
       #dropdown,
        textarea {    
  border: 1px solid #807045;
  border-radius: 4px;
  color: #807045;
  font: 300 14px/1.4 "lato", "helvetica Neue", Helvetica, Arial, sans-serif;
  height: 36px;
  padding: 4px;
}

.user-info input,
        textarea { 
  background: linear-gradient( #FFFFFF, #E0E0E0); 
} 

textarea {
  display: block;
  padding-left: 8px;
  height: 60px;
  margin-top: 8px;
  margin-bottom: 18px;
  resize: vertical;
  width: 60%;
}

/*
==============================
Lists
==============================
*/

input[type="checkbox"],
input[type="radio"] {
  margin: 12px 6px 0 0;
}

/*
==============================
buttons
==============================
*/

#submit {
  background-color: #807045;
  border-radius: 4px;
  color: #FFE08A;
  font-size: 16px;
  font-weight: 100;
  height: 38px;
  width: 96px;
  border: 1px solid #ffffff;
}

#submit:hover {
  background-color: #FFFFFF;
  border: 1px solid #807045;
  color: #807045;
  font-weight: 400;
}

/*
==============================
responsive
==============================
*/

@media screen and (max-width: 942px) 
{  
  .user-info label,
  .user-info input {
    display: inline-block;
    width: 95%;
    margin-top: 0;
    margin-left: 4px;
    margin-bottom: 4px;
  }
  
  .user-info input {
    width: 60%;
  }
  
  #dropdown {
    width: 60%;
  }

  textarea { 
    width: 60%
  }
  
}

@media screen and (max-width: 520px) 
{  
  body {
    margin: 8px 8px 0 8px;
  } 

  .user-info label,
  .user-info input {
    display: inline-block;
    width: 95%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 4px;
  }
  
  #dropdown {
    width: 90%;
  }

  textarea { 
    width: 90%;
  }
  
  .selection {
    margin-left: 10px;
  }
  
}
